{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Course Tracker</title>
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    /> -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'scss/materialize.css' %}"
    media="screen,projection"
  />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header class="navbar">
      {% if user.is_authenticated %}
      <ul id="dropdown2" class="dropdown-content">
        <li>
          <a
            href="{% url 'course_create' %}"
            class=""
            >Add Course</a
          >
        </li>
        <li class="divider"></li>
        <li>
          <a href="{% url 'course_index' %}" class=""
            >All Courses</a
          >
        </li>
      </ul>
      <ul id="dropdown3" class="dropdown-content">
        <li>
          <a
            href="{% url 'category_create' %}"
            class=""
            >Add Category</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="{% url 'category_index' %}" class=""
            >All Categories</a
          >
        </li>
      </ul>
      {% endif %}
      <nav class="">
        <div class="nav-wrapper">
          <a href="{% url 'home' %}" class="brand-logo">&nbsp;&nbsp;Course Tracker</a>
          <a href="#" data-target="mobile" class="sidenav-trigger"
          ><i class="material-icons ">menu</i></a
        >
          <ul class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger " href="#!" data-target="dropdown2">Courses<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger " href="#!" data-target="dropdown3">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
            {% if not user.is_authenticated %}
            <li>
              <a href="{% url 'signup' %}" class=""
                >Sign Up</a
              >
            </li>
            <li>
              <a href="{% url 'login' %}" class=""
                >Log In</a
              >
            </li>
            {% else %}
            <li>
              <a href="{% url 'profile'%}" class="$link-color-text text-darken-3"
                >Profile</a
              >
            </li>
            <li>
              <form method="POST" action="{% url 'logout' %}">
                {% csrf_token%}
                <input
                  type="submit"
                  value="Logout"
                  class="btn light-green lighten-2"
                />&nbsp;&nbsp;
              </form>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
<!-- MOBILE NAVBAR -->
      <ul class="sidenav" id="mobile">
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'course_create' %}" class=""
            >Add Course</a
          >
        </li>
        <li>
          <a href="{% url 'course_index' %}" class=""
            >All Courses</a
          >
        </li>
        <li>
          <a href="{% url 'category_create' %}" class=""
            >Add Category</a
          >
        </li>
        <li>
          <a href="{% url 'category_index' %}" class=""
            >All Categories</a
          >
        </li>
        <li>
          <a href="{% url 'profile' %}" class=""
            >Profile</a
          >
        </li>
        <li>
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token%} &nbsp;&nbsp;<input
              type="submit"
              value="Logout"
              class="btn light-green lighten-2"
            />
          </form>
        </li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s6">
            <h5 class="white-text left">Course Tracker</h5>
          </div>
          <div class="col l4 offset-l2 s6">
            <h5 class="white-text">Navigation</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="{%url 'home' %}"
                  >Home</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          All Rights Reserved, &copy; 2024 Course Tracker &nbsp;
        </div>
      </div>
    </footer>
  </body>
</html>
<script>
    const sidElems = document.querySelectorAll('.sidenav')
    const sideInstances = M.Sidenav.init(sidElems, {})

    const trigger = document.querySelectorAll('.dropdown-trigger')
    const triggerInstances = M.Dropdown.init(trigger, {
      coverTrigger: false,
    })

</script>
