{% extends 'base.html' %} {% block content %} {% if object %}
<h1>Edit <span class="">{{object.name}}</span></h1>
{% else %}
<h1>Add Course</h1>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" class="btn yellow darken-3" />
</form>

<script>
  const ratingEl = document.getElementById('id_rating')
  M.FormSelect.init(ratingEl)

  const recurringEl = document.getElementById('id_recurring_fee')
  M.FormSelect.init(recurringEl)

  const categoryEl = document.getElementById('id_category')
  M.FormSelect.init(categoryEl)
</script>
{% endblock %}
