{% extends 'base.html' %} {% block content %}

<h1>Your Courses</h1>
<div class="row">
  <div class="col s3">
    <a
      class="dropdown-trigger btn"
      href="#"
      data-target="dropdown1"
      >Filter by Category</a
    >
    <ul class="dropdown-content" id="dropdown1">
      {% for category in categories %}
      <li>
        <a href="?category={{category.name}}" class=""
          >{{category.name}}</a
        >
      </li>
      <li class="divider" tabindex="-1"></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col s2">
    <a href="{% url 'course_index' %}" class="btn light-green lighten-2">Reset Filter</a>
  </div>
</div>
<div class="row">
  <div class="col s12">
    {% for course in page_obj %}
    <a href="{% url 'course_detail' course.id %}">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ course.name }}</span>          
          <p>{{ course.description }}</p>
          {% if course.category.count%}
          <p>
            Category: {% endif %} {% for category in course.category.all%}
            {{category.name}} {% endfor %}
          </p>
        </div>
      </div>
    </a>
    {% endfor %}
    <!-- https://docs.djangoproject.com/en/5.0/topics/pagination/ -->
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
  </div>
</div>
<script>

    const dropElems = document.querySelectorAll('.dropdown-trigger')
    const instances = M.Dropdown.init(dropElems, {
      coverTrigger: false,
    })
</script>
{% endblock %}
