{% extends 'base.html' %} {% block content %}

<h1>{{ course.name }}</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        {% if course.image %}
        <img src="{{course.image}}" loading="lazy" class="responsive-img" />
        {% endif %}
        <p>{{course.description}}</p>
        <p>Rating: {{course.get_rating_display}}</p>
        <p>Cost: ${{course.price}}</p>
        <p>Recurring Fee?: {{course.get_recurring_fee_display}}</p>

        {% if course.category.count %}
        <p>
          Category: {% endif %} {% for category in course.category.all %}
          {{category.name}} {% endfor %}
        </p>
      </div>
      <div class="card-action">
        <a href="{{course.url}}" target="_blank">Visit</a>
        <a href="{% url 'course_update' course.id %}">Edit</a>
        <a href="{% url 'course_delete' course.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form method="POST" action="{%url 'add_note' course.id %}">
      {%csrf_token%} {{note_form.as_p}}
      <input type="submit" class="btn light-green lighten-2" value="Add Note" />
    </form>
    {% if course.note_set.all %}
 
    <table class="striped card">
      <thead>
        <tr>
          <th>Date</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <!-- <div class="card"> -->
        {% for note in course.note_set.all %}
        <tr>
          <td>{{note.date}}</td>
          <td>{{note.content}}</td>
          <td><a href="{% url 'note_update' note.id %}">Edit</a></td>
          <td><a href="{% url 'note_delete' note.id %}">Delete</a></td>
        </tr>
        {% endfor %}
      <!-- </div> -->
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
<script>
  const dateEl = document.getElementById('id_date')
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  })
</script>

{% endblock %}
